/Alien-Build-*
/.build
*.swp
/t/bin/*.json
/t/bin/*.log
/example/Alien-*/*.bak
/example/Alien-*/Makefile
/example/Alien-*/_alien
/example/Alien-*/blib
/example/Alien-*/pm_to_blib
/example/Alien-*/MYMETA.*
/testalien*
/corpus/alien_build_plugin_fetch_curlcommand/record/new.*
/corpus/alien_build_plugin_fetch_wget/record/new.*
/test-logs/
